<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CST3144 Coursework</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <div id="app">

        <h1>{{ sitename }}</h1>

        <button
            v-on:click="toggleCart"
            v-bind:disabled="numberOfItems === 0">
            Checkout ({{ numberOfItems }})
        </button>

        <div v-if="displayCart === false">

            <h2>{{ lesson.subject }}</h2>

            <img src="images/new_coding_image.jpg" width="300">

            <p>Location: {{ lesson.location }}</p>

            <p>Price: £{{ lesson.price }}</p>

            <p>Available spaces: {{ lesson.availability }}</p>

            <button
                v-on:click="addToCart"
                v-bind:disabled="!canAddToCart">
                Add to Cart
            </button>

        </div>

        <div v-else>

            <h2>Shopping Cart</h2>

            <p>You have {{ numberOfItems }} item(s) in your cart.</p>

            <div v-for="item in cart" v-bind:key="item">

                <h3>{{ lesson.subject }}</h3>

                <p>Location: {{ lesson.location }}</p>

                <p>Price: £{{ lesson.price }}</p>

                <button v-on:click="removeFromCart(item)">
                    Remove
                </button>

            </div>

            <hr>

            <h2>Checkout</h2>

            <p>
                First Name:
                <input
                    type="text"
                    v-model="name">
            </p>

            <p>
                Last Name:
                <input
                    type="text"
                    v-model="lastName">
            </p>

            <p>
                Phone:
                <input
                    type="text"
                    v-model="phone">
            </p>

            <button
                v-on:click="checkout"
                v-bind:disabled="!canCheckout">
                Submit Order
            </button>

            <p v-if="orderSubmitted">
                Order submitted successfully.
            </p>

        </div>

    </div>

    <script>

        const { createApp } = Vue

        createApp({

            data() {
                return {

                    sitename: "After School Activities",

                    lesson: {
                        id: 1001,
                        subject: "Coding Club",
                        location: "Hendon",
                        price: 25,
                        availability: 5
                    },

                    cart: [],

                    displayCart: false,

                    firstName: "",
                    lastName: "",
                    phone: "",

                    orderSubmitted: false

                }
            },

            computed: {

                canAddToCart() {
                    return this.lesson.availability > 0
                },

                numberOfItems() {
                    return this.cart.length
                },

                canCheckout() {

                    const namePattern = /^[A-Za-z ]+$/
                    const phonePattern = /^[0-9]+$/

                    return (
                        namePattern.test(this.name) &&
                        namePattern.test(this.lastName) &&
                        phonePattern.test(this.phone)
                    )

                }

            },

            methods: {

                addToCart() {
                    this.cart.push(this.lesson.id)
                    this.lesson.availability--
                },

                removeFromCart(item) {

                    const index = this.cart.indexOf(item)

                    if (index !== -1) {
                        this.cart.splice(index, 1)
                        this.lesson.availability++
                    }

                    if (this.cart.length === 0) {
                        this.displayCart = false
                    }

                },

                toggleCart() {
                    this.displayCart = !this.displayCart
                },

                checkout() {
                    this.orderSubmitted = true
                }

            }

        }).mount("#app")

    </script>

</body>
</html>